* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background: #F6F6F6;
    padding-bottom: 30px;
    padding-top: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.input {
    width: 275px;
    height: 45px;
    left: 836px;
    top: 30px;
    padding-left: 33px;
    background: #FFFFFF;
    border-radius: 60px;


}

.order-btn {
    width: 89px;
    height: 45px;
    left: 1231px;
    top: 30px;
    margin-left: 25px;
    background: #7296EC;
    border-radius: 10px;
}

.currency {
    display: flex;
    align-items: center;

}

.site-nav {
    padding-top: 60px;
}

.dollar {
    color: blue;
    display: flex;
    margin-left: 10px;
}

.site-nav {
    display: flex;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

}

a {
    text-decoration: none;
}

.namangan {
    width: 264px;
    height: 28px;
    left: 126px;
    top: 39px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #7296EE;

}

.information {
    width: 87px;
    height: 21px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #7F7F7F;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.redbull {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.redbull-p {
    width: 86px;
    height: 17px;
    left: 40px;
    top: 7px;
    padding-left: 5px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5E5F61;

}

.page-3h {
    width: 797px;
    height: 72px;
    left: 0px;
    top: 60px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;

}

.neta {
    padding-top: 20px;
}

.rice {

    width: 797px;
    height: 150px;
    left: 0px;
    top: 477px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 25px;
}

.rice2 {
    width: 797px;
    height: 60px;
    left: 0px;
    top: 651px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 24px;
}

.rice3 {
    width: 797px;
    height: 180px;
    left: 0px;
    top: 735px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 24px;
}

.rice4 {
    width: 797px;
    height: 90px;
    left: 0px;
    top: 939px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 24px;

}

.rice5 {
    width: 797px;
    height: 120px;
    left: 0px;
    top: 1053px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 24px;

}

.rice6 {
    width: 797px;
    height: 60px;
    left: 0px;
    top: 1197px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 24px;

}

.folder {
    padding-top: 40px;
}

.visit {
    padding-top: 50px;
    width: 358px;
    height: 78px;
    background-color: #F6F6F6;;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.visit-bottom {
    display: flex;
    align-items: center;
    padding-top: 23px;
 
}

.visit-p {
    width: 346px;
    height: 44px;
    padding-top: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.part {
    width: 84px;
    height: 14px;
    left: 47px;
    top: 175px;
    padding-left: 6px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #5E5F61;

}
.visit-part{
    display: flex;
    justify-content: space-between;
}
.footer {
    background: #7297EF;
    padding: 40px;
    margin-top: 40px;
    margin-top: 200px;
}

.special {
    display: flex;
    justify-content: space-between;
}

.text {
    padding-top: 15px;
    width: 229px;
    height: 95px;
    left: 221px;
    top: 2539px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;

}

.name {
    width: 264px;
    height: 28px;
    left: 221px;
    top: 2496px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

.ucer {
    list-style-type: none;
    padding-bottom: 30px;
}

.simp {

    color: #FFFFFF;
    padding-top: 20px;

}

.ucername {
    width: 161px;
    height: 46px;
    left: 221px;
    top: 2726px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;

}

.iconka {
    display: flex;
    justify-content: space-between;

}

.iconka-right {
    display: flex;
}

.img-icon {
    padding-left: 28px;
    padding-top: 40px;
}

.title {
    background: #F6F6F6;
    border-radius: 15px;
    padding-top: ;

}